<!DOCTYPE html>
<html>

<head>
  <title>Cocktail Central</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
  <%# navbar partial %>
  <%= render partial: "shared/nav" %>

  <%= yield %>
</body>

</html>